body{
    background-color: rgb(239, 237, 237);
    color: rgb(46, 10, 74);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: rgb(48, 48, 138);
}

h2{
    color: green;
}

h3{
    color: rgb(103, 103, 42);
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}